:root {
	/* define your theme's colors here: */
	--textinputs:		#171721;	/* Tokyo Night: BaseColor */
	--pagecolor:		#1C1D2B;	/* Tokyo Night: Darker #171721; */
	--scrollbars:		#393B54;
	--secondarytext:		#4D5575;
	--midtext:			#8387A3;
	--whitetext:		#A0A3BD;	/* Tokyo Night: White */
	--bodytext:			#A0A3BD;	/* Tokyo Night: MidGrey */
	--purpletext:		#C3A4F8;	/* Tokyo Night: PurpleGradient1 */
	--replybkg:			#B699E3;	/* Tokyo Night: VioletText */
	--yellowish:		#FFA86F;	/* #C9875B; */
	--activecolor:		#09c1dc;
	--red:			#F88199;	/* Tokyo Night: NebulaClose */
	--reddish:			#FF859D;	/* Lightened version of NebulaClose */
	--green:			#C1F487;	/* Tokyo Night: NebulaMax */
	--greenish:			#A8D475;

	--gradient1:		182, 153, 233;	/* Tokyo Night: PurpleGradient1 */
	--gradient2:		195, 164, 248;	/* Tokyo Night: VioletGradient2 */
	--gradient3:		133, 172, 248;
	--gradient4:		136, 175, 255;

	/* define your theme's fonts here: */
	--screenfont:		'JetBrainsMono Nerd Font Mono', sans-serif;
}