/* overwrite Discord's variables with our own */
.theme-dark {
    --header-primary: var(--purpletext);
    --header-secondary: var(--bodytext);
    --text-normal: var(--bodytext);
    --text-muted: var(--secondarytext);
    --text-link: var(--purpletext);
    --channels-default: var(--secondarytext);
    --interactive-normal: var(--bodytext);
    --interactive-hover: var(--purpletext);
    --interactive-active: var(--bodytext);
    --interactive-muted: var(--bodytext);
    --background-primary: var(--pagecolor);
    --background-secondary: var(--pagecolor);
    --background-tertiary: var(--pagecolor);
    --background-accent: var(--pagecolor);
    --background-floating: var(--textinputs);
    --background-modifier-hover: var(--textinputs);
    --background-modifier-active: var(--textinputs);
    --background-modifier-selected: var(--textinputs);
    --background-modifier-accent: var(--pagecolor);
    --elevation-low: 0 4px 0 rgba(0,0,0,0.4);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.4);
    --logo-primary: var(--purpletext);
    --guild-header-text-shadow: none;
    --channeltextarea-background: var(--textinputs);
    --activity-card-background: var(--textinputs);
    --deprecated-panel-background: var(--textinputs);
    --deprecated-card-bg: var(--textinputs);
    --deprecated-card-editable-bg: var(--gradient2);
    --deprecated-store-bg: var(--textinputs);
    --deprecated-quickswitcher-input-background: var(--gradient1);
    --deprecated-quickswitcher-input-placeholder: var(--bodytext);
    --deprecated-text-input-bg: var(--textinputs);
    --deprecated-text-input-border: var(--textinputs);
    --deprecated-text-input-border-hover: var(--pagecolor);
    --deprecated-text-input-border-disabled: var(--textinputs);
    --deprecated-text-input-prefix: var(--whitetext);
}

body {
  font-family: var(--screenfont);
  font-weight: 300 !important;
  zoom: 0.9;
}

.header-2o-2hj {
  color: var(--whitetext)
}

.panels-j1Uci_ {
  background: var(--pagecolor) !important;
}

.circleIconButton-jET_ig,
.message-3SOT5P {
  color: var(--secondarytext);
}

.item-2hkk8m {
  background-color: var(--bodytext);
}

.base-1x0h_U {
  color: var(--secondarytext);
}

.close-relY5R {
  color: var(--secondarytext);
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
  background-color: var(--secondarytext);
}

/* Scrollbar grab bar */
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
  background: linear-gradient(130deg, var(--gradient2), var(--gradient1)) !important;
  border: 1px solid var(--textinputs);
}

/* Scrollbar container */
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  background-color: var(--textinputs);
  border: none;
}

.theme-dark .isMentioned-N-h9aa {
  background-color: var(--textinputs);
}

.theme-dark .isMentioned-N-h9aa .mention {
  background: linear-gradient(130deg, var(--gradient2), var(--gradient1)) !important;
  color: var(--bodytext);
}

.offline-3nJYBR {
  opacity: 1.0;
}
