<<<<<<< HEAD
body,
button {
	font-family: var(--screenfont) !important;
	color: var(--bodytext) !important;
}

input,
textarea {
	font-family: var(--screenfont) !important;
	color: var(--whitetext) !important;
}

input::placeholder,
textarea::placeholder {
	color: var(--midtext) !important;
}

a, a:visited {
	color: var(--bodytext) !important;
}

.sqdOP {
	color: var(--replybkg) !important;
}

h1 {
	color: var(--whitetext) !important;
}

button,
.zV_Nj,
a.FPmhX.MBL3Z,
.eebAO,
._32eiM {
	color: var(--whitetext) !important;
}

.TOh1s {
	background: none !important;
}

.o64aR,
.Di7vw,
._8UZ6e,
.tHaIX,
.x3qfX,
.W4P49 {
	background-color: var(--pagecolor) !important;
	border: none !important;
}

._lz6s,
._8Rm4L,
.VideM,
._01UL2,
._1XyCr,
.ltEKP .QBXjJ {
	background-color: var(--textinputs) !important;
	border: none !important;
	border-radius: 5px !important;
}

.pbgfb {
	border-radius: 2px !important;
}

.UE9AK,
.sH9wk,
.JyscU.ePUX4 .eo2As,
.JyscU .Slqrh,
.fx7hk {
	border: none !important;
}

.aOOlW {
	border-color: var(--pagecolor) !important;
}

.yWX7d._8A5w5, a.yWX7d._8A5w5 {
	color: var(--bodytext) !important;
}

/* Follow button color */
.y3zKF:not(.yWX7d) {
	color: var(--whitetext) !important;
}

a.r8ZrO {
	color: var(--replybkg) !important;
}

._8-yf5 {
	fill: var(--secondarytext);
}

[aria-label='Unlike'] {
	fill: var(--red) !important;
}

._8-yf5::active {
	fill: var(--reddish) !important;
}

.TKi86 {
	background: var(--red) !important;
}

.c-Yi7,
.c-Yi7:visited,
._0PwGv,
.-vDIg,
.tc8A9,
.FH9sR,
.g47SY,
.-nal3,
.-nal3:active,
.-nal3:visited,
.-nal3:hover {
	color: var(--secondarytext) !important;
}

.SkY6J .DINPA,
.SkY6J .l93RR,
.SkY6J .K5OFK:not(:last-of-type)::after {
	color: var(--pagecolor) !important;
}

.cqXBL,
.cqXBL:visited,
.gmFkV,
.gmFkV:visited,
.JYWcJ,
.JYWcJ:link {
	color: var(--yellowish) !important;
}

.s2MYR {
	background: var(--textinputs) !important;
}

.ONnYN {
	border-width: 0px !important;
}

[aria-label='Comment Options'] {
	background: none !important;
	fill: var(--pagecolor) !important;
}

/* override chat page color */
.oYYFH,
.QOqBd,
.-qQT3:hover,
.X3a-9 {
	background: var(--textinputs) !important;
}

/* override chat borders */
.oNO81,
.pV7Qt,
.S-mcP,
.CMoMH,
.X3a-9 {
	border: 0 !important;
}

/* override chat box backgrounds */
.S-mcP,
.N9abW,
.DPiy6,
.oNO81 {
	background: var(--pagecolor) !important;
}

/* override chat bubble backgrounds */
._6FEQj {
	background: linear-gradient( rgba( var(--gradient2), 0.5 ), rgba( var(--gradient1), 0.7 ) );
}

/* override chat bubble text color */
.KV-D4 {
	color: var(--bodytext) !important;
}
