:root, .__fb-light-mode {
    /* backgrounds */
    --web-wash: var(--pagecolor);
    --surface-background: var(--pagecolor);
    --messenger-card-background: var(--pagecolor);
    --comment-background: var(--textinputs);
	--wash: var(--pagecolor);

    /* general text */
    --primary-text: var(--whitetext);
	--placeholder-text: var(--secondarytext);
	--always-white: var(--bodytext);

    /* contacts */
    --secondary-text: var(--bodytext);

    /* buttons */
    --secondary-button-background: var(--gradient2);
}

/* override fonts */
body,
#facebook ._-kb.segoe {
    font-family: var(--screenfont) !important;
}

/* override incoming messages */
.g6srhlxm {
    background: linear-gradient(0deg, var(--gradient2) 0%, var(--gradient1) 100%);
}

/* override contacts color */
.oo9gr5id {
    color: var(--activecolor) !important;
}

/* override contacts active time color */
.m9osqain {
    color: var(--midtext) !important;
}

.j9ispegn {
	fill: red;
}