:root, .__fb-light-mode {
    /* backgrounds */
    --web-wash: var(--pagecolor);
    --surface-background: var(--pagecolor);
    --messenger-card-background: var(--pagecolor);
    --comment-background: var(--textinputs);
	--wash: var(--pagecolor);

    /* general text */
    --primary-text: var(--whitetext);
	--placeholder-text: var(--secondarytext);
	--always-white: var(--bodytext);

    /* contacts */
    --secondary-text: var(--bodytext);

    /* buttons */
    --secondary-button-background: rgb(var(--gradient2));

    /* messages */
    --divider: var(--secondarytext);
}

/* override fonts */
body,
#facebook ._-kb.segoe {
    font-family: var(--screenfont) !important;
}

/* override incoming messages */
.g6srhlxm {
    background: linear-gradient(0deg, rgba(var(--gradient2), 0.8) 0%, rgba(var(--gradient1), 0.8) 100%);
}

/* override contacts color */
.oo9gr5id {
    color: var(--bodytext) !important;
}

/* override contacts active time color */
.m9osqain {
    color: var(--midtext) !important;
}

.j9ispegn {
	fill: red;
}

/* override quoted message backgrounds */
.khkgorpb {
    background: linear-gradient(0deg, rgba(var(--gradient1), 0.2) 0%, rgba(var(--gradient1), 0.4) 100%);
}

/* remove 'Messenger for Windows' panel */
.srn514ro {
    display: none;
}