/* Define theme variables */
:root {
  --textinputs:     #181B28; /* Paranoid Android */
  --pagecolor:      #141721; /* Paranoid Android */
  --secondarytext:  #4B535E;
  --whitetext:      #DEDEDE; /* Paranoid Android */
  --bodytext:       #7BBFFA;
  --replytext:      #B3DCDE;
  --replybkg:       ;
  --contacts:       #7DC5CD; /* Paranoid Android */
  --gradientleft:   rgba(90,50,230,0.9);
  --gradientright:  rgba(173,83,240,0.8);

  --screenfont:     'Source Code Variable', 'Source Code Pro', Helvetica, Arial, sans-serif;
}

body,
._4sp8,
._5irm._7mkm,
._4gd0,
._o46 {
    background-color: var(--pagecolor);
}

/* Fiddle with reply text since it's applied to the element */
._nd_ ._hh7._6ybn {
  background: linear-gradient(130deg, var(--gradientleft) 20%, var(--gradientright) 100%) !important;
}

#facebook ._-kb.segoe {
  font-family: var(--screenfont) !important;
}

._7mki polygon {
    fill: var(--pagecolor);
}

._hh7:not(._2f5r):not(._43by),
._7kpk,
._53ij,
._558b ._54ng,
._7tpc,
._1ht2 ._6zkb,
.chatAttachmentShelf,
._52mr:not(._hh7) {
    background-color:var(--textinputs) !important;
}

.chatAttachmentShelf {
    border-top: none !important;
}

._hh7 a {
    color: var(--bodytext);
}

._6-xo,
._58nk,
._58nk a:not([role="button"]),
._58al,
._364g,
._3q34,
._1mf,
._67tu,
._19jt,
._2y8z,
._3szq,
._2i-c ._54nf ._54nh,
._4ik4,
._1htf > span,
._19jt,
._374c,
._6ct9,
._6cs6,
._4ng2,
._6ct8,
.__6k,
._3q34,
._4ebz,
._jf3,
._1mr_,
._1mq-,
._3b4u,
.uiInputLabelLabel {
    color: var(--bodytext) !important;
}

._17w2,
._6ybk span
{
  color: var(--whitetext);
}

._1ht6 {
  color: var(--contacts);
}

._2m5p {
    border-color: rgba(255, 255, 255, 0.1) !important;
}

._6-xk ._30yy path,
._5blh path,
._23ct path,
._7iov path,
._7i2l path,
._7i2n path,
._7i2o path,
._3szp path {
    fill: var(--bodytext);
}

._3i_m:not(._7301) ._58nk,
._3i_m:not(._7301) ._58nk * {
    color: var(--replytext) !important;
}

._7301 span {
    color: rgba(230, 230, 255, 0.2) !important;
}

._6-xk ._30yy:not(._6-xf),
._4eby,
._2y8_,
._4kf5,
._aou,
._5iwn ._7tpc,
._1uwz,
._29hl,
._2f5n {
    background-color: var(--textinputs) !important;
}
._2f5n {
    border-color: var(--textinputs) !important;
}

a._3058 {
    border: none !important;
}

._3duc {
    border-bottom-left-radius: 20px !important;
}

._1uwz {
    border-radius: 4px;
}

._ih3,
time._3oh-,
._58al::placeholder,
._225b,
._3q35,
._4g0h,
._1p1v,
._67tw,
._6zkf,
._1ht7,
._1lj0,
._3ihp,
._1htf,
._4rpj,
._5qsj,
._497p,
.__6m,
._5u15,
._6ybw > a,
._6yb-,
._2v6o,
._3eus,
._6cs7,
.__6l,
._1n-e,
._2wy4,
._3q35,
._7492,
._3058,
._374d {
    color: var(--secondarytext) !important;
}

._pyf {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

._1p1v {
    -webkit-text-fill-color: var(--secondarytext);
}

._2poz svg > rect {
    fill: var(--pagecolor);
}

i.img,
i._uwa,
i._57e_ {
    filter: invert(0.8);
}

._3zzf i._57e_ {
    filter: none;
}

i._53io {
    filter: invert(0.9)
}

i.img.sp_sbxFxdCZjuj.sx_3032b3 {
    filter: brightness(1.5);
}

._kmc {
    cursor: text;
}

._59s7 {
    background: none;
}

._7q1i,
._7q0v {
    border: 2px solid transparent !important;
}

._4rlt,
._3h3c {
    background-color: #4d4d4f !important;
}

._3nta {
    background: #0a0a0c !important;
    color: var(--bodytext);

}
._2mjl, ._4dx5, ._38wl, ._4x7m, ._4x79, ._4x7b {
    color: var(--secondarytext);
}

._1ht3._1ht1._6zk9 {
    background: none;
}
@media(max-width: 900px) {
    ._1ht3._1ht1._6zk9 div[style^="background-image"] {
        border: 3px solid #ccc;
    }
}
