/* Define theme variables */
:root {
  --textinputs:     #181B28; /* Paranoid Android */
  --pagecolor:      #141721; /* Paranoid Android */
  --secondarytext:  #4B535E;
  --whitetext:      #DEDEDE; /* Paranoid Android */
  --bodytext:       #7DC5CD;
  --purpletext:     #A44CE9;
  --replytext:      #B3DCDE;
  --replybkg:       #7646ff;
  --contacts:       #7DC5CD; /* Paranoid Android */
  --gradientleft:   rgba(90,50,230,0.9);
  --gradientright:  rgba(173,83,240,0.8);

  --screenfont:     'Source Code Variable', 'Source Code Pro', Helvetica, Arial, sans-serif;
}

html:not(.style-scope)[dark], :not(.style-scope)[dark] {
    --yt-spec-brand-background-solid: var(--pagecolor);
    --yt-spec-brand-background-primary: var(--pagecolor);
    --yt-spec-brand-background-secondary: rgba(40, 40, 40, 0.95);
    --yt-spec-general-background-a: var(--pagecolor);
    --yt-spec-general-background-b: #161616;
    --yt-spec-general-background-c: #0d0d0d;
    --yt-spec-error-background: #f9f9f9;
    --yt-spec-text-primary: #fff;
    --yt-spec-text-primary-inverse: #0d0d0d;
    --yt-spec-text-secondary: #aaa;
    --yt-spec-text-disabled: #717171;
    --yt-spec-call-to-action: #3ea6ff;
    --yt-spec-icon-active-other: #fff;
    --yt-spec-icon-inactive: #909090;
    --yt-spec-icon-disabled: #606060;
    --yt-spec-badge-chip-background: rgba(255, 255, 255, 0.1);
    --yt-spec-verified-badge-background: rgba(255, 255, 255, 0.25);
    --yt-spec-suggested-action: #252a3a;
    --yt-spec-button-chip-background-hover: rgba(255, 255, 255, 0.2);
    --yt-spec-touch-response: #fff;
    --yt-spec-paper-tab-ink: rgba(255, 255, 255, 0.3);
    --yt-spec-filled-button-text: #0d0d0d;
    --yt-spec-call-to-action-inverse: #065fd4;
    --yt-spec-brand-icon-active: #fff;
    --yt-spec-brand-icon-inactive: #909090;
    --yt-spec-brand-button-background: #c00;
    --yt-spec-brand-link-text: #ff4e45;
    --yt-spec-filled-button-focus-outline: rgba(255, 255, 255, 0.7);
    --yt-spec-call-to-action-button-focus-outline: rgba(62, 166, 255, 0.3);
    --yt-spec-brand-text-button-focus-outline: rgba(255, 78, 69, 0.3);
    --yt-spec-inactive-text-button-focus-outline: #606060;
    --yt-spec-brand-subscribe-button-background: var(--yt-spec-brand-button-background);
    --yt-spec-wordmark-text: #fff;
    --yt-spec-10-percent-layer: rgba(255, 255, 255, 0.1);
    --yt-spec-selected-nav-text: #fff;
    --yt-spec-themed-blue: #3ea6ff;
    --yt-spec-themed-green: #2ba640;
    --yt-spec-themed-overlay-background: rgba(0, 0, 0, 0.8);
}
