html:not(.style-scope)[dark], :not(.style-scope)[dark] {
    --yt-spec-brand-background-solid: var(--pagecolor);
    --yt-spec-brand-background-primary: var(--pagecolor);
    --yt-spec-general-background-a: var(--pagecolor);
    --yt-spec-text-primary: var(--whitetext);
    --yt-spec-text-secondary: var(--secondarytext);
    --yt-spec-icon-disabled: var(--scrollbars);
    --yt-spec-badge-chip-background: var(--textinputs);
    --yt-spec-brand-icon-inactive: var(--secondarytext);
    --yt-spec-brand-subscribe-button-background: var(--yt-spec-brand-button-background);
    --yt-spec-10-percent-layer: var(--textinputs);
    --yt-button-color: var(--secondarytext);
    --yt-spec-icon-inactive: var(--secondarytext);
    --yt-endpoint-color: var(--replybkg);
    --yt-spec-call-to-action: var(--bodytext);
    --ytd-searchbox-text-color: var(--whitetext);
    --ytd-searchbox-legacy-button-border-color: var(--pagecolor);
    --ytd-searchbox-legacy-button-color: var(--pagecolor);
}

/* override search box styling */
#search-input.ytd-searchbox-spt input {
    background-color: var(--pagecolor);
}

#container.ytd-searchbox {
    border: none;
    box-shadow: none;
}

/* override tags */
yt-chip-cloud-chip-renderer[chip-style="STYLE_HOME_FILTER"] {
    border: none;
}

/* remove video bottom gradient */
.ytp-gradient-bottom {
    background: none;
}

